.Encabezado {
    border-color: black;
    border-width: 0;
    border-bottom: 1px;
    border-style: solid;
    text-align: right;
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.Encabezado__Titulo {
    padding: 15px;
}
.Principal {
    margin-top: 200px;
    background: rgba(10, 91, 128, 0.17);
    margin-left: 0;
    margin-right: 0;
    padding: 70px;
}
.Principal__Carrera {
    text-align: center;
}
.Principal__Nombre {
    text-align: center;
}
.Marco {
    margin-top: 200px;
    background: rgba(10, 91, 128, 0.75);
    padding-top: 50px;
    padding-bottom: 100px;
}
.SobreMi {
    padding: 20px;
    padding-bottom: 300px;
    background: #FFFFFF;
    opacity: 0.8;
    margin: 80px;
}
.SobreMi__Imagen {
    text-align: left;
    padding-right: 50%;
}
.SobreMi__Encabezado {
    text-align: left;
    padding-left: 55%;
}
.SobreMi__Saludo {
    text-align: left;
    padding-left: 55%;
    color: #757575;
}
.SobreMi__Presentacion {
    text-align: left;
    padding-left: 55%;
    line-height: 1.5;
    padding-right: 40px;
}
