.encabezado {
    border-color: black;
    border-width: 0;
    border-bottom: 1px;
    border-style: solid;
    text-align: right;
    padding: 25px;
    margin-left: 5%;
    margin-right: 5%;

}

.encabezado__titulo {
    padding: 15px;
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    .encabezado {
        text-align: center;
        padding: 10px;
    }
    
    .encabezado__titulo {
        display: inline-block;
        padding: 5px 10px;
    }
}