@media (max-width: 768px) {
    .sobre-mi {
        margin: 20px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sobre-mi__imagen, 
    .sobre-mi__encabezado, 
    .sobre-mi__saludo, 
    .sobre-mi__presentacion {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    
    .sobre-mi__imagen {
        margin: 0 auto 20px auto;
    }

    .habilidades__segmentos {
        flex-direction: column;
    }

    .habilidades__segmento {
        border-left: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 30px 0;
    }
    
    .habilidades__segmento:last-child {
        border-bottom: none;
    }

    .mostrar-proyectos {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    
    .proyectos__presentacion {
        margin: 20px 0;
    }

    .principal, .marco {
        margin-top: 50px;
        padding: 20px;
    }
    
    .encabezado {
        text-align: center;
        padding: 10px;
    }
    
    .encabezado__titulo {
        display: inline-block;
        padding: 5px 10px;
    }
}