@import '/components/blog/blog.css';
@import '/components/contacto/contacto.css';
@import '/components/habilidades/habilidades.css';
@import '/components/inicio/inicio.css';
@import '/components/proyectos/proyectos.css';
@import '/components/pieDePagina/pie-de-pagina.css';
@import '/components/sobreMi/sobre-mi.css';
@import '/components/encabezado/encabezado.css';

html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
main {
    flex: 1;    
}