@import '/components/blog/Blog.css';
@import '/components/contacto/Contacto.css';
@import '/components/habilidades/Habilidades.css';
@import '/components/inicio/Principal.css';
@import '/components/proyectos/Proyectos.css';
@import '/components/pieDePagina/PieDePag.css';
@import '/components/sobreMi/SobreMi.css';
@import '/components/encabezado/Encabezado.css';

html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
main {
    flex: 1;    
}