.principal {
    margin-top: 200px;
    background: rgba(10, 91, 128, 0.17);
    margin-left: 0;
    margin-right: 0;
    padding: 70px;
}

.principal__carrera {
    text-align: center;
}

.principal__nombre {
    text-align: center;
}

@media (max-width: 768px) {
    .principal, .marco {
        margin-top: 50px;
        padding: 20px;
    }
}